body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

@media only screen and (min-width:1200px){
  .nav-item > .nav-link{
    padding: 5px 0px !important;
    display: block !important;
  }
}

@media only screen and (max-width:992px){
  .header-inner{
    background-color: white !important;
      }
  .navbar-brand{
    color: black !important;
  }
  .nav-item > .nav-link{
    color: black !important;
  }
  .display-none{
    display: none !important;
  }
 .content-banner .big-heading{
    font-size: 40px !important;
    font-weight: 800!important;
  }
  .hire-me-content{
    padding: 10px 20px !important;
  }
}

.content-banner{
  color: #5f5f5f;
  background: url('../images/homebg1.jpg');
  min-height: 700px;
  height: 100%;
  position: relative;
  background-position: center center;
    background-size: cover;
    padding-top: 125px;
}
.content-banner:before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.08);
  top: 0;
  left: 0;
  z-index: 1;
}
#hire-me{
  background-color: #eb5424;
}
/* ****************************NAVIGATION STARTS******************************************** */
.sticky-navigation { opacity: 1; }

.header{
  position: relative;
  width: 100%;
}
.header-inner{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: transparent;
}

.nav-right{
  margin-left: auto;
}
.navbar-default {
  /* background: #fff; */
  border: none;
  -webkit-box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
          box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
  margin: 0;
  padding: 0 0 0 20px;
  background-color: cyan;
}
.navbar-default .navbar-brand {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 35px;
}
.profile-image{
  border-radius: 100%;
}
.navbar-default .navbar-nav li a {
  color: black;
  font-size: 16px;
  font-weight: bold;
  line-height: 35px;
  letter-spacing: 1px;
}
.nav-item{
  font-size: 16px;
  font-weight: 400;
  padding: 0 15px;
  text-transform: uppercase;
}
.navbar-default .navbar-nav li a:hover {
  color: #eb5424;
  }
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #eb5424;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #eb5424;
  background-color: transparent;
  text-decoration: underline #eb5424 solid 2px;
}
.navbar-default .navbar-toggle .icon-bar {
  background: #eb5424;
  border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: transparent }
/* ****************************NAVIGATION ENDS******************************************** */
.banner-content {
  padding: 100px 0px 0px 20px;
  color: black;
}
.big-heading {
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 1.2;
  margin: 10px 0;
}

.span-heading, .dot {
  color: #eb5424;
}
.dot{
  font-size: 1.2rem;
}

.subheading {
  color: #000000;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #eb5424;

}
.btn.btn-primary{
  background: #eb5424;
   border: 1px solid #eb5424 !important;
   color: #fff !important;
}
.btn.btn-outline-primary:hover{
  background: #eb5424;
   border: 1px solid #eb5424 !important;
   color: #fff !important;
}
.seperator{
  padding: 60px 60px;
}
.mini-seperator{
  padding: 30px 0 0 0;
  width: 100%;
}
.heading{
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  margin: 10px 0;
}
.content-heading{
  text-align: center;
  line-height: 2.5rem;
}
.hire-me-content{
  padding-left: 80px;
}
.hire-me-image{
  width: 320px;
  height: 322px;
  margin: -100px;
}
.user-img{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: auto;

}
.center{
  text-align: center;
}
.form-control {
  background: transparent;
  border: 1px solid #666;
  border-radius: 2px;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 10px;
  -webkit-transition: all 0.6s ease-in;
          transition: all 0.6s ease-in;
}
.form-control:focus,
 .form-control:hover {
  background: #202020;
  color: #ffffff;
}
.colored-container{
  background-color: #f5f4f4;
  padding: 40px 20px;
}
.white-container{
  padding: 40px 20px;
}
.intro-content{
  width: 85%;
  padding-left: 80px;
}
